@import "./reset";
@import "./media";
@import "./mixin";
@import url("https://fonts.maateen.me/solaiman-lipi/font.css");

$border: #e2e2e2;
$red: #d60000;
$gray: #000;
$text: #121212;

body {
  margin: 0;
  font-family: "SolaimanLipi", sans-serif;
}
.main {
  @include respond-above("lg") {
    padding: 30px;
  }
  @include respond-above("md") {
    padding: 15px;
  }
}
.container {
  max-width: 100%;
 margin: 0 auto;
  padding: 15px;
  @include respond-above("lg") {
    max-width: 1140px;
  }
  .row {
    width: 100%;
    display: grid;
    @include respond-above("lg") {
      grid-template-columns: 25% 75% !important;

      gap: 30px;
    }
    @include respond-above("xsm") {
      grid-template-columns: 1fr 2fr;

      gap: 30px;
    }
  }
  .right-row {
    display: grid;
    @include respond-above("lg") {
      grid-template-columns: 2fr 1fr;
      gap: 30px;
    }
  }
  .col-1 {
    @include respond-above("md") {
    }
    @include respond-between(sm, md) {
    }
  }
  .col-2 {
  }
}

header {
  .logo {
    max-width: 260px;
    margin: auto;
    padding: 12px 0px;
  }
  box-shadow: 0 5px 5px 0 rgb(0 0 0 / 20%);
  border-top: 1px solid $border;
}

span.bluebox {
  width: 15px;
  height: 15px;
  color: blue;
  display: block;
}

.red-title {
  color: $red;
}
span.h3-title {
  color: $red;
}
.seperator {
  border: 1px solid $border;
  margin: 30px 0px;
}
.seperator-2 {
  border: 1px solid $border;
  border-bottom: none;
  margin: 30px 0px;
}
/* Tabs */
.tab-nav {
  border-bottom: 2px solid $border;
  button {
    cursor: pointer;
    @include title1;
    color: $text;
    &:hover {
      color: $gray;
      border-bottom: 3px solid $red;
    }
  }
  button.active {
    color: $gray;
    border-bottom: 3px solid $red;
  }
}
.tab-body {
  
  .tab-body-content {
    .tab-content-list {
      list-style: none;
      padding: 0px;
      li {
        border-bottom: 2px solid $border;
        padding-bottom: 20px;
        margin-bottom: 20px;
        &:last-child {
          border: none;
          padding-bottom: 0px;
          margin-bottom: 0px;
        }
        .news-card {
          a {
            color: $text;
          }
        }
      }

      h2 {
        @include title2;
      }
      h3 {
        font-size: 34px;
        margin: 0px;
      }
    }
  }
  .portrait {
    display: block;
    @include respond-above("lg") {
      display: none;
    }
  }
  .title {
    margin-top: 0px;
    display: block;
    @include title1;
    @include respond-above("lg") {
      display: none;
    }
  }
}
.right-sidebar {
  .portrait {
    display: none;
    @include respond-above("lg") {
      display: block;
    }
  }
  .title {
    margin-top: 0px;
    display: none;
    @include title1;
    @include respond-above("lg") {
      display: block;
    }
  }
  .box {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border;
    padding-bottom: 20px;
    &:last-child {
      border: none;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
    .left {
      width: 60%;
      h2 {
        @include title2;
        color: $text;
        margin-top: 0px;
      }
    }
    .right {
      width: 40%;
    }

    h3 {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
}

.big-image {
  width: 100%;
}

.featured {
  .featured-title {
    @include title1;
    color: $gray;
    margin-top: 0px;
  }
  .featured-box {
    position: relative;
    h2 {
      position: absolute;
      bottom: 0px;
      color: #ffb300;
      padding: 30px;
      padding-bottom: 15px;
    }
  }
}
.rest-selected {
  padding: 30px 0px;
  display: flex;
  gap: 30px;
  .rest-selected-box {
    .rest-selected-box-title {
      h2 {
        @include title2;
        color: $text;
      }
    }
  }
  h3 {
    color: $text;
  }
}

// footer
footer {
  text-align: center;
  
  
  padding: 20px 0px;
  .landscape{
    width: 70%;
    margin: 0 auto;
    max-height: 150px;
    min-height: 50px;
    img{
      width: 100%;
      height: 100%;
    }
  }

}
